.App {
  text-align: center;

}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(188, 188, 216);
}

.searchBar {
  height: 50px;
  background-color: rgb(173, 173, 229);
}

.searchBar input {
  border-radius: 14px;
  border: inset;

}