.App {
  text-align: center;

}

h1 {
  display: block;
  text-align: center;
}

header {
  background: transparent;
}

.searchbar {
  grid-area: searchbar;
  margin: auto;
}

.main-content-container {
  display: grid;
  margin: auto;
  grid-template-areas:
    'searchbar'
    'routes'
    'footer';
  width: 100vw;
  background-image: linear-gradient(to top right, var(--pale-blue), var(--mid-blue));
}

.searchBar {
  height: 50px;
  background-color: rgb(173, 173, 229);
}

.searchBar input {
  border-radius: 14px;
  border: inset;

}

.routes {
  grid-area: routes;
}