.App {
  text-align: center;

}

h1 {
  display: block;
  text-align: center;
}

.main-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  background-image: linear-gradient(to top right, var(--pale-blue), var(--mid-blue));
}

.searchBar {
  height: 50px;
  background-color: rgb(173, 173, 229);
}

.searchBar input {
  border-radius: 14px;
  border: inset;

}