@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway&family=Staatliches&display=swap');

:root {
  --pale-blue: rgb(112, 112, 197);
  --mid-blue: rgb(71, 109, 211);
  --bodyfont: 'Ubuntu';
  --navfont: 'Raleway';

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bodyfont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Raleway';
}